<h1>New Tweet</h1>

<textarea name="content" id="content" form="tweet_form" rows="8" cols="80"></textarea>
<br></br>
<form action="/tweets" method="post" id="tweet_form">
  <input type="submit" id="submit" value="Tweet">
</form>
